In [14]:
#final code

import pandas as pd
import glob
import os
import xml.etree.ElementTree as ET

def parse_xml_to_dataframe(path_chunks, path_destination):
    len(os.listdir(path_chunks))
    lst = list(range(1,len(os.listdir(path_chunks)) + 1))

    for i in lst:
        print(i)
        path_chunk_i = path_chunks + '/{}'.format(i)
        print(path_chunk_i)
        glob.glob(path_chunk_i)
        os.chdir(path_chunk_i)

        extension = 'xml'
        all_filenames = [i for i in glob.glob('**/*.{}'.format(extension), recursive=True)]

        print(len(all_filenames))

        data = []
        for j in all_filenames:
            root = ET.parse(j).getroot()
            attributes = ([c.attrib for c in root])
            for k in attributes:
                data.append(k)

        print("Next please")
        df = pd.DataFrame(data)
        df.to_pickle(path_destination + '/{}.pkl'.format(i))

In [ ]:
path_chunks = "{}/nem-data/nemde_chunk".format(os.environ['HOME'])
path_destination = "{}/nem-data/test_func".format(os.environ['HOME'])

parse_xml_to_dataframe(path_chunks, path_destination)

1
/home/bastian/nem-data/nemde_chunk/1
87552
Next please
2
/home/bastian/nem-data/nemde_chunk/2
87551
Next please
3
/home/bastian/nem-data/nemde_chunk/3
88128

In [5]:
import pandas as pd
import glob
import os
import logging

def clean_filter_concat_pkl(path_pkls, path_destination)
    os.chdir(path)
    extension = 'pkl'
    all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

    df = pd.DataFrame()
    for i in all_filenames:
        print(i)
        df_i = pd.read_pickle(i)
        print(df_i.shape)
        df_i = df_i.query('Market == "Energy" and RegionID == "SA1"')
        df = pd.concat([df, df_i])
        print(df.shape)
    df.to_pickle('{}/nem-data/nemde_clean/concat_for_energy_SA1'.format(os.environ['HOME']))

8.pkl
(7323536, 10)
(681836, 10)
5.pkl
(6416046, 10)
(1109990, 10)
9.pkl
(8421314, 10)
(1892688, 10)
1.pkl
(7114458, 10)
(2451516, 10)
10.pkl
(8497680, 10)
(2930076, 10)
11.pkl
(7343695, 10)
(3314873, 10)
6.pkl
(7459025, 10)
(3799470, 10)
7.pkl
(8340539, 10)
(4563310, 10)
2.pkl
(6702060, 10)
(5029030, 10)
3.pkl
(7093800, 10)
(5486140, 10)
4.pkl
(6738568, 10)
(5951880, 10)

In [6]:
df = pd.read_pickle('{}/nem-data/nemde_clean/concat_for_energy_SA1'.format(os.environ['HOME']))
df.head()

,PeriodID,RegionID,Market,Price,Unit,DispatchedMarket,BandNo,Increase,RRNBandPrice,BandCost
37,2015-06-23T13:40:00+10:00,SA1,Energy,32.53389,ER01,ENOF,5,0.25585,31.79,8.133474
38,2015-06-23T13:40:00+10:00,SA1,Energy,32.53389,ER04,ENOF,5,0.25585,31.79,8.133474
39,2015-06-23T13:40:00+10:00,SA1,Energy,32.53389,ER03,ENOF,5,0.25585,31.79,8.133474
40,2015-06-23T13:40:00+10:00,SA1,Energy,32.53389,ER02,ENOF,5,0.25585,31.79,8.133474
130,2015-06-23T15:00:00+10:00,SA1,Energy,33.98997,POAT220,L6SE,2,1.04746,0.12,0.125695