In [3]:
import pandas as pd

In [4]:
df = pd.read_pickle('/home/bastian/Desktop/Portfolio_project/play_chunk.pkl')

In [5]:
df.head()

,PeriodID,RegionID,Market,Price,Unit,DispatchedMarket,BandNo,Increase,RRNBandPrice,BandCost
0,2018-05-12T02:50:00+10:00,NSW1,Energy,37.0097,ER03,ENOF,2,1,37.01,37.01
1,2018-05-12T02:50:00+10:00,NSW1,Energy,37.0097,"ENOF,ER03,2,ER04,2",tbslack2,NaN,-140,0,-0.00014
2,2018-05-12T02:50:00+10:00,NSW1,Energy,37.0097,"ENOF,ER02,2,ER03,2",tbslack1,NaN,-300,0,-0.0003
3,2018-05-12T02:50:00+10:00,NSW1,Energy,37.0097,"ENOF,ER01,2,ER03,2",tbslack2,NaN,140,0,0.00014
4,2018-05-12T02:50:00+10:00,NSW1,R6SE,7.01,GSTONE5,R5RE,1,1,7.2,7.2

In [6]:
df.shape

(8315753, 10)

In [9]:
df.query('Market == "Energy" and RegionID == "SA1"', inplace=True)
df.to_pickle('/home/bastian/Desktop/Portfolio_project/20171001_20180731.pkl')

In [2]:
pwd

'/home/bastian/Desktop'